div.icon {
   
    background-color: black;
    margin: 2px 0;
    height:.24rem;
    width: 19px;
  }
  .icon{
    margin: 0;
  }
  .close{
    text-align: right !important;
    font-weight: 900;
    cursor: pointer;
  }